{% extends "base.html" %}
{% block title %} Alumnos {% endblock title %}
{% block title_head %}
<input type="submit" value="inicio">
{% endblock title_head %}

{% block h1_header %}
Lista de alumnos
{% endblock h1_header %}

{% block h2_header %}
Alumnos
{% endblock h2_header %}
{% block h3_header %}
{% endblock h3_header %}

{% block main %}

<form action=¨{% url "alumnos" %} method="get">
    {{formulario}}
    <input type="submit" value"Buscar">

</form>

{% if alumnos %}
    <ul>
        {% for alumno in alumnos %}
        <li>{{alumno}}</li>
        {% endfor %}
    </ul>
{% else %}
<p>Aun no hay alumnos creados</p>
{% endif %} 

{% endblock main %}


